In [31]:
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind

In [32]:
# import the csv
data = pd.read_csv('aapl_2006_2012.csv')

# calculate the daily return of the stock
data['daily_return'] = data['Adj. Close'].pct_change()
data = data.dropna()

data

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,daily_return
1,2006-10-03,74.45,74.950,73.190,74.07,28239600.0,0.0,1.0,9.567863,9.632120,9.405935,9.519027,197677200.0,-0.010553
2,2006-10-04,74.10,75.462,73.160,75.38,29610100.0,0.0,1.0,9.522883,9.697919,9.402080,9.687381,207270700.0,0.017686
3,2006-10-05,74.53,76.160,74.130,74.83,24424400.0,0.0,1.0,9.578144,9.787621,9.526738,9.616698,170970800.0,-0.007296
4,2006-10-06,74.42,75.040,73.810,74.22,16677100.0,0.0,1.0,9.564007,9.643686,9.485614,9.538304,116739700.0,-0.008152
5,2006-10-09,73.80,75.080,73.530,74.63,15650800.0,0.0,1.0,9.484329,9.648826,9.449630,9.590995,109555600.0,0.005524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,2011-12-23,399.69,403.590,399.495,403.33,9621400.0,0.0,1.0,51.365736,51.866940,51.340676,51.833526,67349800.0,0.011993
1319,2011-12-27,403.10,409.090,403.020,406.53,9467000.0,0.0,1.0,51.803968,52.573767,51.793687,52.244771,66269000.0,0.007934
1320,2011-12-28,406.89,408.250,401.340,402.64,8166500.0,0.0,1.0,52.291036,52.465815,51.577784,51.744852,57165500.0,-0.009569
1321,2011-12-29,403.40,405.650,400.510,405.12,7713500.0,0.0,1.0,51.842522,52.131679,51.471117,52.063566,53994500.0,0.006159
1322,2011-12-30,403.51,406.280,403.490,405.00,6416500.0,0.0,1.0,51.856659,52.212643,51.854089,52.048145,44915500.0,-0.000296

In [33]:
# using the t test, test the hypothesis that the mean daily stock returns of AAPL is statistically significantly different from 0%, 1%, 0.1%, 0.001%

# 0%
ttest_1samp(data['daily_return'], 0)

TtestResult(statistic=2.3738663749167386, pvalue=0.01774521695714535, df=1321)

In [34]:
# 1%
ttest_1samp(data['daily_return'], 0.01)

TtestResult(statistic=-12.779840914878765, pvalue=2.396423197715538e-35, df=1321)

In [35]:
# 0.1%
ttest_1samp(data['daily_return'], 0.001)

TtestResult(statistic=0.8584956459371881, pvalue=0.3907745753924793, df=1321)

In [36]:
# 0.001%
ttest_1samp(data['daily_return'], 0.00001)

TtestResult(statistic=2.3587126676269428, pvalue=0.018483407859519317, df=1321)

In [37]:
# add return using open prices
data['open_return'] = data['Open'].pct_change()
data = data.dropna()

# do a two sample ttest of the daily return and open return
ttest_ind(data['daily_return'], data['open_return'])

TtestResult(statistic=-0.035929112107760466, pvalue=0.9713415990697348, df=2640.0)